<a href="https://colab.research.google.com/github/ishankarve/upgrad_lending_club_case_study/blob/main/Ishan%20Karve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Aim of the Study
##### Find the drivig factors/ variables behind loan default. i.e find out variables tha are strong indicators of a default. 

###### Major parts that need to be done are
1. Data Understandng
2. Data Cleaning
3. Data Analysis
4. Recommendations

###### Steps to Data Cleaning
1. Check Percentage of Missing Values
2. Remove columns with high missing percentages
3. Impute data in columns with acceptable missing percentages
4. Drop rows where missing percentage is very high

###### Steps to data analysis
1. Identify variables that are related to the applicant
2. Identify loan characteristics
3. Indetify customer behaviour variables.
4. Get rid if rows were loan status is 'current'
5. Since customer behivaiour variables are not available at application time, get rid of them too, however, retain those which are available via credit bureau

#### Import Libraries and setup environment

In [1]:
#import the required libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#prevent pandas from truncating output
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
#read the given data file using pandas to a dataframe
loan = pd.read_csv("https://github.com/ishankarve/upgrad_lending_club_case_study/raw/main/loan.csv",engine='python')

#### Get information about the dataset

In [5]:
#get the shape of the data frame
loan.shape

(39717, 111)

In [6]:
#get the list of columns
loan.dtypes

id                                  int64
member_id                           int64
loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
term                               object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_title                          object
emp_length                         object
home_ownership                     object
annual_inc                        float64
verification_status                object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
zip_code                           object
addr_state                         object
dti                               float64
delinq_2yrs                         int64
earliest_cr_line                   object
inq_last_6mths                      int64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                            int64
pub_rec                             int64
revol_bal                           int64
revol_util                         object
total_acc                           int64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
recoveries                        float64
collection_recovery_fee           float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                         int64
application_type                   object
annual_inc_joint                  float64
dti_joint                         float64
verification_status_joint         float64
acc_now_delinq                      int64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_il_6m                        float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
max_bal_bc                        float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                         int64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
dtype: object

In [7]:
#sample the dataframe
loan.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [8]:
#get list of unique variables per column
print(loan.nunique())

id                                39717
member_id                         39717
loan_amnt                           885
funded_amnt                        1041
funded_amnt_inv                    8205
term                                  2
int_rate                            371
installment                       15383
grade                                 7
sub_grade                            35
emp_title                         28820
emp_length                           11
home_ownership                        5
annual_inc                         5318
verification_status                   3
issue_d                              55
loan_status                           3
pymnt_plan                            1
url                               39717
desc                              26527
purpose                              14
title                             19615
zip_code                            823
addr_state                           50
dti                                2868
delinq_2yrs                          11
earliest_cr_line                    526
inq_last_6mths                        9
mths_since_last_delinq               95
mths_since_last_record              111
open_acc                             40
pub_rec                               5
revol_bal                         21711
revol_util                         1089
total_acc                            82
initial_list_status                   1
out_prncp                          1137
out_prncp_inv                      1138
total_pymnt                       37850
total_pymnt_inv                   37518
total_rec_prncp                    7976
total_rec_int                     35148
total_rec_late_fee                 1356
recoveries                         4040
collection_recovery_fee            2616
last_pymnt_d                        101
last_pymnt_amnt                   34930
next_pymnt_d                          2
last_credit_pull_d                  106
collections_12_mths_ex_med            1
mths_since_last_major_derog           0
policy_code                           1
application_type                      1
annual_inc_joint                      0
dti_joint                             0
verification_status_joint             0
acc_now_delinq                        1
tot_coll_amt                          0
tot_cur_bal                           0
open_acc_6m                           0
open_il_6m                            0
open_il_12m                           0
open_il_24m                           0
mths_since_rcnt_il                    0
total_bal_il                          0
il_util                               0
open_rv_12m                           0
open_rv_24m                           0
max_bal_bc                            0
all_util                              0
total_rev_hi_lim                      0
inq_fi                                0
total_cu_tl                           0
inq_last_12m                          0
acc_open_past_24mths                  0
avg_cur_bal                           0
bc_open_to_buy                        0
bc_util                               0
chargeoff_within_12_mths              1
delinq_amnt                           1
mo_sin_old_il_acct                    0
mo_sin_old_rev_tl_op                  0
mo_sin_rcnt_rev_tl_op                 0
mo_sin_rcnt_tl                        0
mort_acc                              0
mths_since_recent_bc                  0
mths_since_recent_bc_dlq              0
mths_since_recent_inq                 0
mths_since_recent_revol_delinq        0
num_accts_ever_120_pd                 0
num_actv_bc_tl                        0
num_actv_rev_tl                       0
num_bc_sats                           0
num_bc_tl                             0
num_il_tl                             0
num_op_rev_tl                         0
num_rev_accts                         0
num_rev_tl_bal_gt_0                   0
num_sats                              0
num_tl_120dpd_2m                      0
num_tl_30dpd                          0
num_tl_90g_dpd_24m                    0
num_tl_op_past_12m                    0
pct_tl_nvr_dlq                        0
percent_bc_gt_75                      0
pub_rec_bankruptcies                  3
tax_liens                             1
tot_hi_cred_lim                       0
total_bal_ex_mort                     0
total_bc_limit                        0
total_il_high_credit_limit            0
dtype: int64

In [9]:
# get count of non-na values across all columns
loan.apply(lambda x: x.count(), axis=0)

id                                39717
member_id                         39717
loan_amnt                         39717
funded_amnt                       39717
funded_amnt_inv                   39717
term                              39717
int_rate                          39717
installment                       39717
grade                             39717
sub_grade                         39717
emp_title                         37258
emp_length                        38642
home_ownership                    39717
annual_inc                        39717
verification_status               39717
issue_d                           39717
loan_status                       39717
pymnt_plan                        39717
url                               39717
desc                              26777
purpose                           39717
title                             39706
zip_code                          39717
addr_state                        39717
dti                               39717
delinq_2yrs                       39717
earliest_cr_line                  39717
inq_last_6mths                    39717
mths_since_last_delinq            14035
mths_since_last_record             2786
open_acc                          39717
pub_rec                           39717
revol_bal                         39717
revol_util                        39667
total_acc                         39717
initial_list_status               39717
out_prncp                         39717
out_prncp_inv                     39717
total_pymnt                       39717
total_pymnt_inv                   39717
total_rec_prncp                   39717
total_rec_int                     39717
total_rec_late_fee                39717
recoveries                        39717
collection_recovery_fee           39717
last_pymnt_d                      39646
last_pymnt_amnt                   39717
next_pymnt_d                       1140
last_credit_pull_d                39715
collections_12_mths_ex_med        39661
mths_since_last_major_derog           0
policy_code                       39717
application_type                  39717
annual_inc_joint                      0
dti_joint                             0
verification_status_joint             0
acc_now_delinq                    39717
tot_coll_amt                          0
tot_cur_bal                           0
open_acc_6m                           0
open_il_6m                            0
open_il_12m                           0
open_il_24m                           0
mths_since_rcnt_il                    0
total_bal_il                          0
il_util                               0
open_rv_12m                           0
open_rv_24m                           0
max_bal_bc                            0
all_util                              0
total_rev_hi_lim                      0
inq_fi                                0
total_cu_tl                           0
inq_last_12m                          0
acc_open_past_24mths                  0
avg_cur_bal                           0
bc_open_to_buy                        0
bc_util                               0
chargeoff_within_12_mths          39661
delinq_amnt                       39717
mo_sin_old_il_acct                    0
mo_sin_old_rev_tl_op                  0
mo_sin_rcnt_rev_tl_op                 0
mo_sin_rcnt_tl                        0
mort_acc                              0
mths_since_recent_bc                  0
mths_since_recent_bc_dlq              0
mths_since_recent_inq                 0
mths_since_recent_revol_delinq        0
num_accts_ever_120_pd                 0
num_actv_bc_tl                        0
num_actv_rev_tl                       0
num_bc_sats                           0
num_bc_tl                             0
num_il_tl                             0
num_op_rev_tl                         0
num_rev_accts                         0
num_rev_tl_bal_gt_0                   0
num_sats                              0
num_tl_120dpd_2m                      0
num_tl_30dpd                          0
num_tl_90g_dpd_24m                    0
num_tl_op_past_12m                    0
pct_tl_nvr_dlq                        0
percent_bc_gt_75                      0
pub_rec_bankruptcies              39020
tax_liens                         39678
tot_hi_cred_lim                       0
total_bal_ex_mort                     0
total_bc_limit                        0
total_il_high_credit_limit            0
dtype: int64

### Start cleaning the data

In [10]:
#check if data has more than one loan per customer
loan.member_id.value_counts().sum()-loan.id.count()
## The data base has one unique loan per customer

0

##### Create individual dataframes based on loan status

In [11]:
#get list of loan statuses
loan.loan_status.value_counts()

Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [12]:
#drop all columns where count is zero
loan.dropna(how='all', axis=1, inplace=True)
#drop all columns where number of unique values is only one
for col in loan.columns:
    if (loan[col].nunique()==1):
        loan.drop([col], axis = 1,inplace=True)

In [13]:
#drop columns as there are substantial amount of na values or data that cannot be statistically analysed easily
#url                    - Redundant for analysis
#desc                   - Too much of textual data for meaningful statistical analysis. 
#id                     - not relevant for analysis
#member_id              - not relevant for analysis
#loan_amnt              - Redundant for analysis
#funded_amnt            - Redundant for analysis
#title                  - Too much of textual data for meaningful statistical analysis.
#emp_title              - Too much of textual data for meaningful statistical analysis.
#mths_since_last_record - behaviourial data, not relevant for analysis
#mths_since_last_delinq - behaviourial data, not relevant for analysis
#next_pymnt_d           - behaviourial data, not relevant for analysis
#delinq_2yrs            - data not generated at the time of application
#total_pymnt            - data not available at the time of application
#total_pymnt_inv        - data not available at the time of application
#total_rec_prncp        - data not available at the time of application
#total_rec_int          - data not available at the time of application
#total_rec_late_fee     - data not available at the time of application
#recoveries             - data not available at the time of application
#collection_recovery_fee- data not available at the time of application
#last_pymnt_d           - data not available at the time of application
#last_pymnt_amnt        - data not available at the time of application
#last_credit_pull_d     - data not available at the time of application

In [14]:
loan.drop(['url','desc','id','member_id','loan_amnt','funded_amnt','title','emp_title','mths_since_last_record','mths_since_last_delinq','next_pymnt_d','delinq_2yrs','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d'], axis = 1,inplace=True)

In [15]:
loan.apply(lambda x: x.count(), axis=0)

funded_amnt_inv         39717
term                    39717
int_rate                39717
installment             39717
grade                   39717
sub_grade               39717
emp_length              38642
home_ownership          39717
annual_inc              39717
verification_status     39717
issue_d                 39717
loan_status             39717
purpose                 39717
zip_code                39717
addr_state              39717
dti                     39717
earliest_cr_line        39717
inq_last_6mths          39717
open_acc                39717
pub_rec                 39717
revol_bal               39717
revol_util              39667
total_acc               39717
out_prncp               39717
out_prncp_inv           39717
pub_rec_bankruptcies    39020
dtype: int64

#### Start Cleaning actual data within columns

In [16]:
#check term column
loan.term.value_counts()
#remove the text month and convert the column to int
loan.term=loan.term.apply(lambda x : int(x.replace(" months", "")))
#check again
loan.term.value_counts()

#remove the percentage sign and convert the column to float
loan.int_rate=loan.int_rate.apply(lambda x : float(x.replace("%", "")))
loan.revol_util=loan.revol_util.apply(lambda x : float(str(x).replace("%", ""))) # giving an error due to float, hence the string conversion
#pandas convert datetime fileds 
loan['issue_d'] = pd.to_datetime(loan['issue_d'], format='%b-%y') #date is in Dec-11 format
loan['earliest_cr_line'] = pd.to_datetime(loan['earliest_cr_line'], format='%b-%y') #date is in Dec-11 format

In [17]:
#delete all rows where loan status is current
loan=loan[(loan.loan_status!="Current")]

In [18]:
#check emplouyment length field and alterdata for meaningful statistical analyis
loan.emp_length.value_counts()                 
#remove the text years
loan.emp_length=loan.emp_length.apply(lambda x : str(x).replace(" years", ""))
loan.emp_length=loan.emp_length.apply(lambda x : str(x).replace(" year", ""))
loan.emp_length=loan.emp_length.apply(lambda x : str(x).replace("10+", "10"))
loan.emp_length=loan.emp_length.apply(lambda x : str(x).replace("< 1", "0"))

In [19]:
#convert loan_status to a binary value column
loan.loan_status=loan.loan_status.apply(lambda x : 1 if x=="Fully Paid" else 0)

In [20]:
print(loan.nunique())

funded_amnt_inv          8050
term                        2
int_rate                  370
installment             15022
grade                       7
sub_grade                  35
emp_length                 12
home_ownership              5
annual_inc               5215
verification_status         3
issue_d                    55
loan_status                 2
purpose                    14
zip_code                  822
addr_state                 50
dti                      2853
earliest_cr_line          524
inq_last_6mths              9
open_acc                   40
pub_rec                     5
revol_bal               21275
revol_util               1088
total_acc                  82
out_prncp                   1
out_prncp_inv               1
pub_rec_bankruptcies        3
dtype: int64

In [21]:
#create sub dataframe based on loan status filter
loan_fully_paid=loan[(loan.loan_status==1)]
loan_charged_off=loan[(loan.loan_status==0)]

### Undertake analysis

In [22]:
loan.head()

   funded_amnt_inv  term  int_rate  installment grade sub_grade emp_length home_ownership  annual_inc verification_status    issue_d  loan_status         purpose zip_code addr_state    dti earliest_cr_line  inq_last_6mths  open_acc  pub_rec  revol_bal  revol_util  total_acc  out_prncp  out_prncp_inv  pub_rec_bankruptcies
0           4975.0    36     10.65       162.87     B        B2         10           RENT     24000.0            Verified 2011-12-01            1     credit_card    860xx         AZ  27.65       1985-01-01               1         3        0      13648        83.7          9        0.0            0.0                   0.0
1           2500.0    60     15.27        59.83     C        C4          0           RENT     30000.0     Source Verified 2011-12-01            0             car    309xx         GA   1.00       1999-04-01               5         3        0       1687         9.4          4        0.0            0.0                   0.0
2           2400.0    36     15.96        84.33     C        C5         10           RENT     12252.0        Not Verified 2011-12-01            1  small_business    606xx         IL   8.72       2001-11-01               2         2        0       2956        98.5         10        0.0            0.0                   0.0
3          10000.0    36     13.49       339.31     C        C1         10           RENT     49200.0     Source Verified 2011-12-01            1           other    917xx         CA  20.00       1996-02-01               1        10        0       5598        21.0         37        0.0            0.0                   0.0
5           5000.0    36      7.90       156.46     A        A4          3           RENT     36000.0     Source Verified 2011-12-01            1         wedding    852xx         AZ  11.20       2004-11-01               3         9        0       7963        28.3         12        0.0            0.0                   0.0

In [ ]:
#undertake categorical analysis of home ownership  and loan purpose vis-a-vis loan_status

# plotting pie chart for different types of purpose
explode = [0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1]

loan_purpose_df = loan.groupby('purpose')[['funded_amnt_inv']].sum()
plt.pie(loan_purpose_df['funded_amnt_inv'],labels = loan_purpose_df.index, autopct = '%1.1f%%',explode = explode)

plt.title("Categorical Spread of Loan Purpose Aggregared by Amount Funded",
     color = 'blue', fontweight = 'bold', fontsize = '20')
plt.show()
plt.show()

In [ ]:
loan_purpose_df_consolidated = loan.groupby('purpose')[['funded_amnt_inv']].sum()
loan_purpose_df_consolidated.plot(kind="bar", title="Consolidated Loans Funded Across Diffirent Purpose Categories")
plt.xticks(horizontalalignment="center")
# Modifying the ticks to show information in (million dollars)
plt.gcf().axes[0].yaxis.get_major_formatter().set_scientific(False)
plt.show()


loan_purpose_df_paidoff = loan_fully_paid.groupby('purpose')[['funded_amnt_inv']].sum()
loan_purpose_df_paidoff.plot(kind="bar", title="Fully Paid Loans Funded Across Diffirent Purpose Categories")
plt.xticks(horizontalalignment="center")
# Modifying the ticks to show information in (million dollars)
plt.gcf().axes[0].yaxis.get_major_formatter().set_scientific(False)
plt.show()


loan_purpose_df_defaulted = loan_charged_off.groupby('purpose')[['funded_amnt_inv']].sum()
loan_purpose_df_defaulted.plot(kind="bar", title="Charged Off Loans Funded Across Diffirent Purpose Categories")
plt.xticks(horizontalalignment="center")
# Modifying the ticks to show information in (million dollars)
plt.gcf().axes[0].yaxis.get_major_formatter().set_scientific(False)
plt.show()

In [ ]:
loan_purpose_df_consolidated = loan.groupby('home_ownership')[['funded_amnt_inv']].sum()
loan_purpose_df_consolidated.plot(kind="bar", title="Consolidated Loans Funded Across Diffirent Home Ownership")
plt.xticks(horizontalalignment="center")
# Modifying the ticks to show information in (million dollars)
plt.gcf().axes[0].yaxis.get_major_formatter().set_scientific(False)
plt.show()


loan_purpose_df_paidoff = loan_fully_paid.groupby('home_ownership')[['funded_amnt_inv']].sum()
loan_purpose_df_paidoff.plot(kind="bar", title="Fully Paid Loans Funded Across Diffirent Home Ownership")
plt.xticks(horizontalalignment="center")
# Modifying the ticks to show information in (million dollars)
plt.gcf().axes[0].yaxis.get_major_formatter().set_scientific(False)
plt.show()


loan_purpose_df_defaulted = loan_charged_off.groupby('home_ownership')[['funded_amnt_inv']].sum()
loan_purpose_df_defaulted.plot(kind="bar", title="Charged Off Loans Funded Across Diffirent Home Ownership")
plt.xticks(horizontalalignment="center")
# Modifying the ticks to show information in (million dollars)
plt.gcf().axes[0].yaxis.get_major_formatter().set_scientific(False)
plt.show()

#### Analyse effect of home ownership on loan payment tendency

In [ ]:
pd.pivot_table(loan,index='home_ownership',values="loan_status", aggfunc = np.count)

In [ ]:
loan.corr()

In [ ]:
continuous_f = ["funded_amnt_inv", "annual_inc", "term", "int_rate", "loan_status", "revol_util", "pub_rec", "earliest_cr_line"]
loan_corr = loan[continuous_f].corr()
sns.heatmap(loan_corr,vmin=-1.0,vmax=1.0,annot=True, cmap="YlGnBu")
plt.title("Correlation Heatmap")
plt.show()